<div class="row graph">
    <div class="col col-sm-9 ">
       <ul class="nav nav-tabs justify-content-center" style="margin-bottom:20px;">
          <li class="nav-item" class="active"><a data-toggle="tab" href="#home">Chart View </a>&nbsp;&nbsp;&nbsp;</li>
          <li><a data-toggle="tab" href="#menu1">Tabular View</a></li>
      </ul>
    <div class="tab-content">
    <div id="home" class="tab-pane fade show active">
       <sbu-graph></sbu-graph>
    </div>
    <div id="menu1" class="tab-pane fade">
        <table-root></table-root>
    </div>
    </div>
</div>
<div class="extra col-sm-3 ">
       <extra-root></extra-root>
</div>
</div>