<!-- <nav class="navbar navbar-expand-sm navbar-light fixed-top">
  <a routerLink="home" class='wipro-logo'>
    <img src="../../assets/wipro_logo_new.png" height="50px" width="100%" alt="AI Powered Revenue Forecast" />
    <img class="digital-logo" width=160px src="../../assets/wipro_digital_logo.png" alt='Wipro Digital' />
  </a>

  <h4 class='navbar-title'>
    <img class="wipro-digital-logo" width=160px src="../../assets/wipro_digital_logo.png" alt='Wipro Digital' />
  </h4>
  <p class="logo_text">AI Powered Revenue Forecast</p>
  <div style="width:60%;position: relative;">
    <app-search></app-search>
  </div>
  <a id='login-btn' style="float:right;" (click)="logout()">Logout</a>
</nav> -->
<nav class="navbar navbar-expand-sm bg-light" style="padding:0 20px;">
  <div>
    <a routerLink="home" class='wipro-logo'>
      <img src="../../assets/wipro_logo_new.png" height="50px" width="100%" alt="AI Powered Revenue Forecast" />
    </a>
  </div>
  <div style="margin:auto; padding-top:10px;height:fit-content;">
    <h3 class='navbar-title'>
      <img class="wipro-digital-logo" width=180px src="../../assets/wipro_digital_logo.png" alt='Wipro Digital' />
      <span>- Revenue Predictor</span>
    </h3>
  </div>
  <div>
    <a id='login-btn' style="float:right;" (click)="logout()">Logout
        <!-- <i class="material-icons"> launch </i> -->
    </a>
  </div>
</nav>