<div class ="loginbox">
        <div class="avatar"><span class="time"><i class="material-icons">
               timeline
        </i></span></div>
        <div class="navwrap">
                <div class="in-para">Input Parameter</div>
            <ul class="nav">
                <li><a class="data" href="#"><input class="para" id="para1" type="text" placeholder="parameter 1" /><span class="material-icons u">
                        arrow_upward
                        </span></a>
                       
                </li>
                <li><a href="#"><input class="para" id="para1" type="text"  placeholder="parameter 2"><span class="material-icons d">
                        arrow_downward
                        </span></a>
                       
                </li>
                <li><a href="#"><input class="para" id="para1" type="text"  placeholder="parameter 3"><span class="material-icons u">
                        arrow_upward
                        </span></a>
                       
                </li>
                <li><a href="#"><input class="para" id="para1" type="text"  placeholder="parameter 4"><span class="material-icons u">
                        arrow_upward
                        </span></a>
                </li>
            </ul>
            <div class="sub"><button class="btn " (click)="sub()">submit</button></div>
            </div>
</div>