<!--NOT USING -->
  <div class=" main row ">
    <div  class="col-lg-6" >
    <div  id="card1">
    <div class="small-box">
    <div class="row wipro">
    <div class="col col-xs-2 inner1">
        <span class="num-det"><sup style="font-size: 20px"></sup><span class="glyphicon glyphicon-stats"></span></span>
    </div>
    <div class="col col-xs-8 inner2">
        <span class="num">WIPRO </span>
        <span class="num">TCS </span>
        <span class="num">IFOSYS </span>
        <span class="num">IBM</span>
    </div>
    </div>
    </div>
    </div>
     </div>
    <!--<div  id="card2">
    <div class="small-box1">
    <div class="row wipro">
    <div class="col col-xs-4 inner1">
       <span class="num-det">54<sup style="font-size: 20px">%</sup><span class="glyphicon glyphicon-arrow-down"></span></span>
    </div>
    <div class="col col-xs-6 inner2">
        <span class="num">WIPRO Revenue</span>
    </div>
    </div>
    </div>
    </div>
    </div>-->
    <!--<div class="col-sm-6" style="margin:0px;padding:0px;">
       <div class="main" >
       <div class="row" style="border-top:4px solid #18BC9C;padding:0px;">
      <div class="col col-xs-3"><span class="glyphicon glyphicon-stats"></span></div>
      <div class="col col-xs-2"><span class="names">WIPRO</span></div>
            <div class="col col-xs-2"><span class="names">WIPRO</span></div>
            <div class="col col-xs-2"><span class="names">WIPRO</span></div>
            <div class="col col-xs-2"><span class="names">WIPRO</span></div>
    </div>
    </div>-->
 
  <!--//////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--<div  class="col-lg-6" >
    <div  id="card1">
    <div class="small-box">
    <div class="row wipro">
    <div class="col col-xs-4 inner1">
        <span class="num-det">54<sup style="font-size: 20px">%</sup><span class="glyphicon glyphicon-arrow-up"></span></span>
    </div>
    <div class="col col-xs-6 inne2r">
        <span class="num">WIPRO Revenue</span>
    </div>
    </div>
    </div>
    </div>
    <div  id="card2">
    <div class="small-box1">
    <div class="row wipro">
    <div class="col col-xs-4 inner1">
       <span class="num-det">54<sup style="font-size: 20px">%</sup><span class="glyphicon glyphicon-arrow-down"></span></span>
    </div>
    <div class="col col-xs-6 inner2">
        <span class="num">WIPRO Revenue</span>
    </div>
    </div>
    </div>
    </div>
    </div>-->
    <!--///////////////////////////////////////////////////////////////////////////////-->
    <!--<div class="col-lg-6">
     <div class="card" >
     <div class="card-body">
     <div class="row"   style="border-top:4px solid #18BC9C; padding:0%;margin:0%;">
       <div class="col col-sm-5" style="margin:0%;border-bottom:1px solid  #e8eaed;"><span class="company"><i class="glyphicon glyphicon-arrow-up"></i></span><span class="share"><div>10%</div><div class="data">SHARE</div></span></div>
       <div class="col col-sm-7" style="margin:0%;border-bottom:1px solid  #e8eaed;border-left:1px solid #e8eaed;"><span class="company"></span><span class="share"><div>TCS</div><div class="data">Revenue</div></span></div>
     </div>
     <div class="row"  style="padding:0%;margin:0%;">
       <div class="col col-sm-5" style="margin:0%;border-bottom:1px solid  #e8eaed;"><span class="company"><i class="glyphicon glyphicon-arrow-down"></i></span><span class="share"><div>10%</div><div class="data">SHARE</div></span></div>
       <div class="col col-sm-7" style="border-left:1px solid #e8eaed;border-bottom:1px solid  #e8eaed;"><span class="company"></span><span class="share"><div>INFOSYS</div><div class="data">SHARE</div></span></div>
    </div>
    </div> 
    </div>
    </div>-->
    <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--<div  class="col-lg-4" >
    <div class="card" >
    <div class="card-body">
    <div class="row"  style="border-top:4px solid #18BC9C; padding:0%;margin:0%;">
       <div class="col col-sm-5" style="margin:0%;border-bottom:1px solid  #e8eaed;border-bottom:1px solid  #e8eaed;"><span class="company"><i class="glyphicon glyphicon-stats"></i></span><span class="share"><div>10%</div><div class="data">SHARE</div></span></div>
       <div class="col col-sm-7" style="margin:0%;border-bottom:1px solid  #e8eaed;border-left:1px solid #e8eaed;border-bottom:1px solid  #e8eaed;"><span class="company"></span><span class="share"><div>10%</div><div class="data">SHARE</div></span></div>

    </div>
    <div class="row"  style="padding:0%;margin:0%;">
       <div class="col col-sm-5" style="margin:0%;"><span class="company"><i class="glyphicon glyphicon-stats"></i></span><span class="share"><div>10%</div><div class="data">SHARE</div></span></div>
       <div class="col col-sm-7" style="border-left:1px solid #e8eaed;"><span class="company"></span><span class="share"><div>10%</div><div class="data">SHARE</div></span></div>
    </div>
    </div> 
    </div>
    </div>-->
       <!--<div class="col-lg-4">
     <div class="card" >
     <div class="card-body">
     <div class="row"   style="border-top:4px solid #18BC9C; padding:0%;margin:0%;">
       <div class="col col-sm-5" style="margin:0%;border-bottom:1px solid  #e8eaed;"><span class="company"><i class="glyphicon glyphicon-arrow-up"></i></span><span class="share"><div>10%</div><div class="data">SHARE</div></span></div>
       <div class="col col-sm-7" style="margin:0%;border-bottom:1px solid  #e8eaed;border-left:1px solid #e8eaed;"><span class="company"></span><span class="share"><div>TCS</div><div class="data">Revenue</div></span></div>
     </div>
     <div class="row"  style="padding:0%;margin:0%;">
       <div class="col col-sm-5" style="margin:0%;border-bottom:1px solid  #e8eaed;"><span class="company"><i class="glyphicon glyphicon-arrow-down"></i></span><span class="share"><div>10%</div><div class="data">SHARE</div></span></div>
       <div class="col col-sm-7" style="border-left:1px solid #e8eaed;border-bottom:1px solid  #e8eaed;"><span class="company"></span><span class="share"><div>INFOSYS</div><div class="data">SHARE</div></span></div>
    </div>
    </div> 
    </div>
    </div>-->
      <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--<div  class=" co col-lg-4" >
          <div class="card" >
     <div class="card-body">
     <div class="row"  id="card1" style="border-top:4px solid #18BC9C; padding:0%;margin:0%;">
       <div class="col col-sm-4" style="margin:0%;border-bottom:1px solid  #e8eaed;"><span class="company"><i class="glyphicon glyphicon-stats"></i></span><span class="share">><div class="data">SHARE</div></span></div>
       <div class="col col-sm-6" style="margin:0%;border-bottom:1px solid  #e8eaed;border-left:1px solid #e8eaed;"><span class="company"><i class="glyphicon glyphicon-stats"></i></span><span class="share"><div>TCS</div><div class="data">Revenue</div></span></div>
     </div>
     <div class="row"  style="padding:0%;margin:0%;">
       <div class="col col-sm-4" style="margin:0%;border-bottom:1px solid  #e8eaed;"><span class="company"><i class="glyphicon glyphicon-stats"></i></span><span class="share"><div>10%</div><div class="data">SHARE</div></span></div>
       <div class="col col-sm-6" style="border-left:1px solid #e8eaed;border-bottom:1px solid  #e8eaed;"><span class="company"><i class="glyphicon glyphicon-stats"></i></span><span class="share"><div>INFOSYS</div><div class="data">SHARE</div></span></div>
    </div>
    </div> 
    </div>
    </div>-->
  
   
  
    
 


