<div class="extras">
    <div>
      <div class="avatar1"(click)="openFormDialog('prediction')"><span class="time"><i class="material-icons">
          timeline
   </i></span></div>
     <div class="btn1" >View Prediction</div>
   </div>

  <div>
 <div class="avatar2"(click)="openFormDialog('Historic Data')"><span class="time"><i class="material-icons">
     donut_small
</i></span></div>
<div class="btn2" >Historical Revenue</div>
</div>

<div>
<div class="avatar3" (click)="openFormDialog('Revenue Compare')"><span class="time"><i class="material-icons">
  equalizer
</i></span></div>
<div class="btn3" >Revenue Compare</div>
</div>
</div>

