<!-- <nav class="navbar navbar-light">
  <div class="container">
   
 <span class="navbar-brand mb-0 h1" style="font-size:36px;">wipro digital</span>
   
 <a style="float:right;font-size:18px;">Logout</a>
 
 </div>
</nav>
<div style="text-align:center">
  <h1>AI Powered - Revenue Prediction</h1>

    <app-search></app-search>    
</div> -->

<div class="row">
<div class="col-lg-12 back-image img-responsive" >
  
  
    <nav class="navbar ">

      <div class="container">
   
     <div class="navbar-header">
  
        <a class="navbar-brand" href="#">
  
          <!--<h2 style="font-family:'Open Sans', sans-serif;font-size: 35px;padding:8px 20px 10px 20px;margin-top:0px;color: white;border:3px solid white;"><b>wipro digital</b></h2>-->
            <!--<img src="../../assets/wipro_digital_logo.png" height="70px" alt="wipro_digital_logo">-->
          </a>
        </div>
      
      </div>
    </nav>
    <div class="search" >
        <!-- <img src="../../assets/wipro_digital_logo.png" height="100px" alt="wipro_digital_logo">       -->
        <p style="margin-bottom:0px;">AI-Powered : Revenue Prediction</p>
        <app-search></app-search>
    </div>
    </div>
    </div>
    <div class="menus">
       <!-- <app-menu-tab></app-menu-tab> -->
       <app-primecheck></app-primecheck>
    </div>
