<!--<div class="container">
  <div class="row">
    <mat-card style="padding-top:0;" class="news-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card-header feed">
        <i class="fa fa-rss-square fa-3x"></i>
      </div>
      <div style="text-align:right;padding-top:20px;">
        <div class='news-header'><h4>News</h4></div>
        <div class="news-content">
            Wipro Buys Stake In US Software Security Firm.<br>
        </div>
        </div>
        
    </mat-card>
  </div>
  <div class="row">
    <mat-card style="text-align:right;padding-top:0;" class="wipro-stocks col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card-header stock-price">
            
            <i class="material-icons md-36">show_chart</i>
          </div>
      <h3 style="padding-top: 25px;padding-bottom:15px;color: #555555;">Wipro Limited</h3>
      <p style=" color: #555555;" id='dateTime'></p>
      <p style=" color: #555555;" id="wiproStockPrice"></p>
    </mat-card>
  </div>
  <div class="row">
    <mat-card style="color:white;" class="competitors-stocks col-lg-12 col-md-12 col-sm-12 col-xs-12">
    
      <table class="table table-hover">
        <thead style="text-align:center;">Competitors' Stock Analysis</thead>
        <tbody>
          <tr>
            <td>Infosys</td>
            <td></td>
          </tr>
          <tr>
            <td>Cognizant</td>
            <td></td>
          </tr>
          <tr>
            <td>TCS</td>
            <td></td>
          </tr>
          <tr>
            <td>Accenture</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </mat-card>
  </div>  
</div>-->
<div class="container"></div>
